.barra {
  width: 100%;
  height: 6vh;
  font-size: 17px;
  color: white;
  border-bottom: 1px solid whitesmoke;
}

.cuadros {
  width: 100%;
  height: 100%;
  background-color: #1b1b1d;
  display: block;
}

.logout {
  height: 100%;
  width: 25%;
  text-align: center;
  float: left;
  margin-left: 120px;
  padding-top: 12px;
}

.logout:hover {
  background-color: black;
  border-radius: 10px;
}

.usuario {
  height: 100%;
  width: 25%;
  text-align: center;
  margin-right: 120px;
  padding-top: 12px;
  float: right;
}

.linked {
  background-color: black;
  width: 30%;
}

.body {
  border: 0;
  margin: 0;
  height: 94vh;
  width: 100%;
  background-color: #121212;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 50%;
  width: 50%;
  background-color: #121212;
}

.titulochat {
  color: rgb(223, 213, 194);
  font-size: 40px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
}

.cuadrochat {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  height: 100%;
}

.mensajes {
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  word-wrap: break-word;
  height: 70vh;
  overflow-y: auto;
  margin-bottom: 40px;
}
.reglas {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  text-align: center;
}

.textoenviadospropios {
  padding: 0.5rem 1rem;
  background: bisque;
  color: black;
  text-align: right;
  margin-left: 20px;
  border-radius: 20px;
}

.textoenviadoajeno {
  padding: 0.5rem 1rem;
  background: orange;
  color: black;
  margin-right: 20px;
  border-radius: 20px;
}

.fechaPropia {
  display: block;
  float: left;
  font-size: 13px;
  color: rgb(255, 145, 0);
}
.fechaAjena {
  display: block;
  float: right;
  color: rgb(255, 228, 196);
  font-size: 13px;
}

.mensajes::-webkit-scrollbar {
  width: var(--width, 15px);
  background: white;
}

.mensajes::-webkit-scrollbar-track {
  background: black;
}
.mensajes::-webkit-scrollbar-thumb {
  background: #c0bebe3b;
  border-radius: 10px;
}
.mensajes::-webkit-scrollbar-thumb:hover {
  background: bisque;
}
.mensajes::-webkit-scrollbar-thumb:active {
  background: white;
}

.escribir {
  border-radius: 9999px;
  border: 3px solid black;
  border-style: double;
  background-color: white;
  margin-top: -20px;
  width: 100%;
  height: 30px;
  padding: 20px;
  color: black;
  position: sticky;
  bottom: 0px;
  bottom: 0px;
}

@media (max-width: 1160px) {
  .body {
    padding: 0px;
    grid-template-columns: 1fr 8fr 1fr;
  }
  .container {
    width: 80%;
  }
}

@media (max-width: 770px) {
  .body {
    display: block;
    padding: 0px;
    grid-template-columns: 1fr 10fr 1fr;
  }
  .container {
    width: 100%;
  }
  .logout,
  .usuario {
    margin: 0;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .container {
    padding-left: 0px;
    grid-template-columns: 1fr;
  }
  .chat {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
