.form {
  background-color: #1b1b1d;
  height: 94vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
}

.gradientform {
  color: white;
  box-sizing: border-box;
  height: 100%;
}

.mb-5 {
  width: 30%;
  float: right;
}

.cuadro {
  margin: 0;
  height: 100%;
}

.menuroom {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}
.gradientcustom2 {
  /* fallback for old browsers */
  box-sizing: border-box;
  background: #fccb90;
  color: white;
  height: 100%;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradientform {
    height: 100% !important;
  }
}
@media (min-width: 169px) {
  .gradientcustom2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
