@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 700px;
}
.container {
  display: grid;
  padding-left: 200px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}

.chat {
  color-scheme: light dark;
  grid-column-start: 2;
  grid-column-end: 3;
}

.titulo-chat {
  color: rgb(223, 213, 194);
  font-size: 40px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
}
.cuadro-chat {
  display: grid;
  grid-template-rows: 2fr 12fr 1fr;
}

.mensajes {
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  word-wrap: break-word;
  max-height: 783px;
  overflow-y: auto;
}

.mensajes::-webkit-scrollbar {
  display: none;
}

.mensajes > li {
  padding: 0.5rem 1rem;
  background: bisque;
  color: black;
  border-radius: 30px;
}

.mensajes > li:nth-child(odd) {
  background: black;
  color: white;
  border-radius: 30px;
}

.escribir {
  border-radius: 9999px;
  border: 1px solid #eee;
  margin: 5px;
  width: 100%;
  height: 20px;
  padding: 20px;
  color: white;
  position: sticky;
  bottom: 0px;
}

@media (max-width: 1160px) {
  .container {
    padding-left: 100px;
    grid-template-columns: 1fr 8fr 1fr;
  }
}

@media (max-width: 770px) {
  .container {
    padding-left: 50px;
    grid-template-columns: 1fr 10fr 1fr;
  }
}

@media (max-width: 650px) {
  .container {
    padding-left: 0px;
    grid-template-columns: 1fr;
  }
  .chat {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
